# Assorted IDE & editor files
# --------------------------------
*.esproj
*.kpf
*.tmproj
.cache
.project
.settings
*/_notes
nbproject
.DS_Store
._*
drushrc.php
*.sql
themes/itkdesign/.sass-cache

# Unused version control info,
# Patches, crud
# -------------------------------
CVS
*.patch
*~

# Settings, files
# ------------------------------
settings.php
files
private

