// =============================================================================
// Variables
// =============================================================================
//


// ---


// Miscellaneous
$theme-color:           #d23200;
$spacing:               20px;
$icon-font:             "FontAwesome";


// ---


// Fonts
$font-family:           "ff-scala-sans-web-pro", sans-serif;
$font-family-slim:      "RalewayThin", "ff-scala-sans-web-pro", sans-serif;
$font-size:             16px;



// ---


// Standard color definitions
$white:                 #fff    !default;
$black:                 #000    !default;
$gray:                  #d5d5d5 !default;
$gray-light:            lighten($gray, 10%) !default;
$gray-lighter:          lighten($gray, 15%) !default;
$gray-dark:             darken($gray, 10%) !default;
$gray-darker:           darken($gray, 25%) !default;


// ---


// Links

$link-hover:            #d23200;