// =============================================================================
// Mixins
// =============================================================================
//


// ---


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//
$prefixes: ("-webkit-","-moz-", "-o-", "");


// ---


// -----------------------------------------------------------------------------
// Mixin for ::selection, which allows specify selected text background color
// ----------------------------------------------------------------------------- 
//
// $color - The color for the selected text.
// $background - The background color for the selected text.
//
@mixin selection($color, $background) {
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      color: $color;
      background: $background;
    }
  }
}


// ---


// -----------------------------------------------------------------------------
// Mixin that converts pixel values to rem values
// ----------------------------------------------------------------------------- 
//
// https://github.com/ry5n/rem
//
// Returns two lines of code — one of the regular pixel values (for older 
// browsers), and another with the converted rem values (for everything else).
//
// Basic usage: @include rem('padding',10px 0 2px 5px);
//              @include rem('font-size',10px);
//
@mixin rem($property, $px-values) {
  // Convert the baseline into rems
  $baseline-rem: 16px / 1rem;
  // Print the first line in pixel values
  #{$property}: $px-values;
  // If there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem;
  }
  @else {
    // Create an empty list that we can dump values into
    $rem-values: unquote("");
    @each $value in $px-values {
      // If the value is zero, return 0
      @if $value == 0 {
        $rem-values: append($rem-values, $value);
      }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem);
      }
    }
    // Return the property and its list of converted values
    #{$property}: $rem-values;
  }
}
