// =============================================================================
// Typography
// =============================================================================
//


// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
//
a {
  &:link {
    color: #fff;
    text-decoration: none;
  }

  &:visited {
    color: darken(#fff, 15%);
    text-decoration: none;
  }

  &:hover {
    color: #d23200;
  }

  &:focus {
    color: #d23200;
  }
}